[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
boto3 = "==1.35.0"
botocore = "==1.35.0"
certifi = "==2024.7.4"
cffi = "==1.17.0"
charset-normalizer = "==3.3.2"
cryptography = "==43.0.0"
defusedxml = "==0.8.0rc2"
django = "*"
django-admin-thumbnails = "==0.2.9"
django-cors-headers = "==4.4.0"
django-js-asset = "==2.2.0"
django-storages = "==1.14.4"
django-templated-mail = "==1.1.1"
djangorestframework = "==3.15.2"
djangorestframework-simplejwt = "==5.3.1"
djoser = "==2.2.3"
gunicorn = "==23.0.0"
idna = "==3.7"
jmespath = "==1.0.1"
mysqlclient = "==2.2.4"
oauthlib = "==3.2.2"
packaging = "==24.1"
pillow = "==10.4.0"
pycparser = "==2.22"
pyjwt = "==2.9.0"
python-dateutil = "==2.9.0.post0"
python3-openid = "==3.2.0"
requests = "==2.32.3"
requests-oauthlib = "==2.0.0"
s3transfer = "==0.10.2"
six = "==1.16.0"
social-auth-app-django = "==5.4.2"
social-auth-core = "==4.5.4"
sqlparse = "==0.5.1"
tzdata = "==2024.1"
urllib3 = "==2.2.2"
whitenoise = "==6.7.0"
django-ckeditor-5 = "*"
django-quill-editor = "*"
django-tinymce = "*"
django-admin-interface = "*"

[dev-packages]

[requires]
python_version = "3.11"
